<div class="register-container">
    <form method="POST" action="Authentication/Register">
        <label for="name">Name: </label>
        <input id="name" type="text" name="Name" placeholder="Your Name" required/>
        <br />
        <label for="address">Address: </label>
        <textarea id="address" name="Address"></textarea>
        <br />
        <label for="email">Email: </label>
        <input type="email" name="Email" required/>
        <br />
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="create new password" required/>
        <input type="submit" name="Register" value="Register"/>
    </form>
</div>